.detail__image--container{
    height: 500px;
    width: 400px;
}
.detail__image{
    width: 400px;
    border-radius: 0 5% 5% 0;
    height: 500px;
    object-fit: cover;
}
.genre__key{
    text-decoration: underline;
    font-weight: 600;
}
iframe{
    width: 100%;
    height: 480px;
}
@media screen and (max-width: 1024px){
    .detail__image--container{
        width: 100%;
    }
    .detail__image{
        width: 100%;
        border-radius: 0;
    }
    iframe{
        height: 320px;
        width: 100%;
    }
}
@media screen and (min-width: 1024px){
    iframe{
        width: 75%;
    }
}