.formSign{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 1em;
}

.social-networks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

/* .right {
    height: 100vh;
    background-image: url('../../../../public/assets/img/backSign.jpg');
    background-color: rgba(0, 0, 0, .7);
    background-size: cover;
    background-blend-mode: color;
    width: 30%;
} */

.form-shadows-content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    justify-content: center;
    align-items: center;
}
.form-title-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

}
.title2Sign{
    font-size: 4rem;
    color: black;
    font-weight: bold;
}