.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: white;
  height: auto;
  font-size: 30px;
}
.columns-footer{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.footer-col-1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 33.3%;
  padding-top: 10px;
  color: white;
}
.footer-col-2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 33.3%;
  padding-top: 10px;
  color: white;
}
.footer-col-3{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 33.3%;
  padding-top: 10px;
  color:white;
}
.footer-second-line{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  height: auto;
}
.hr-footer-color-grey{
  border: 2px solid rgb(108, 108, 108);
  width: 100%;
}
.footer-social-btns{
  display: flex;
  border: none;
  border-color: rgba(255, 255, 255, 0);
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border-radius: 50%;
}
.footer-social-text{
  font-size: 18px;
  padding-left: 10px;
  margin-top: 10px;
}
.container-btns-footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  width: 100%;
  padding: 20px;
  flex-wrap: wrap;
  border: none;
}
.img-footer{
  width: 80px;
  height: 65px;
}
.footer-ul{
  list-style-type: none;
}
.footer-li{
  font-size: 14px;
}
.sponsor-btn-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 90px;
  height: 70px;
  border: 2px solid rgb(238, 238, 238);
  color: white;
  font-weight: bold;
}
.sponsor-btn-footer:hover{
  background-color: rgb(238, 238, 238);
  filter:drop-shadow(0 0 1rem var(--main-color));
}
.footer-title-navg{
  font-size: 16px;
  font-weight: bold;
  color: var(--main-color)
}
.footer-about-us{
  font-size: 14px;
  color: white;
  width: 45%;
}
.other-titles-footer{
  font-size: 24px;
  font-weight: bold;
}
.footer-text{
  font-size: 14px;
  color: white;
}